<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading...</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #333;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .loading-bar {
            width: 200px;
            height: 20px;
            background-color: #fff;
            position: relative;
        }

        .loading-bar::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background-color: #00B7FF;
            animation: loading 2s infinite;
        }

        @keyframes loading {
            0% {
                width: 0;
            }
            50% {
                width: 100%;
            }
            100% {
                width: 0;
            }
        }
    </style>
</head>
<body>
    <div class="loading-bar"></div>
    <script src="../javascripts/loading.js"></script>
</body>
</html>
